html {
  height: 100%;
  width: 100%;
}
    body {
        font-size: 24px;
        font-family: 'Arial', 'Noto Naskh Arabic', sans-serif;
        text-align: center;
        margin-top: 50px;
        background-color: #f5f5f5;
        color: #333;
    }
    .word-display, .word-details, #choices button {
        margin: 10px 0;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #fff;
        cursor: pointer;
    }
    #choices button:hover {
        background-color: #ddd;
    }
    button {
        padding: 10px 20px;
        margin: 10px;
        border: none;
        border-radius: 5px;
        background-color: #4CAF50;
        color: white;
        font-size: 18px;
        cursor: pointer;
    }
    button:hover {
        background-color: #45a049;
    }
  #test-section {
      background-color: #f0f0f0;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px;
      margin: 20px auto;
      width: 80%;
      max-width: 600px;
      text-align: center;
  }
  
  #question-display {
      background-color: #e8e8e8;
      padding: 15px;
      margin-bottom: 20px;
      border-radius: 8px;
      font-size: 1.2em;
  }
  

  
  #test-result {
      font-size: 1.2em;
      margin-top: 20px;
  }

